@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
}
.notification {
  background-color: black;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.notification > div {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.notification > div > span {
  color: #fff;
}
.notification > div > span:first-child {
  width: 100%;
  text-align: center;
}
.notification > div > span:last-child {
  cursor: pointer;
}
.notification > div > span:last-child:hover {
  opacity: 0.7;
}
.nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.sh {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.down > img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.down {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.down > a {
  color: #000;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-right: 25px;
}
.down > a > span {
  margin-top: 5px;
}
.nav {
  display: flex;
  margin: 24px auto;
}
.nav {
  display: flex;
  gap: 24px;
}
.bag {
  display: flex;
  gap: 14px;
}
.sr {
  background-color: #f0f0f0;
  width: 90%;
  padding: 15px 5px;
}
.search > span {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 11px;
}
.search {
  background-color: #f0f0f0;
  width: 582px;
  height: 48px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.clothes {
  height: 663px;
  width: 100%;
  background: url("/img/Group\ 16.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.wrap > button {
  width: 210px;
  height: 52px;
  border-radius: 62px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin: 25px 0;
}
.wrap > span {
  margin: 10px 0;
}
.clothes > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find {
  width: 577px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.Browse {
  color: rgba(0, 0, 0, 0.6);
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 545px;
}
.frame {
  color: #000;
  font-family: "Lato";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: row;
}
.frame > div {
  display: flex;
  flex-direction: column;
}
.frame > div > span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.frame > div:nth-last-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 25px;
  margin: 0 25px;
}
.Brands {
  width: 100%;
  height: 122px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Brands > div {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Arrivals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Monserrat";
  font-size: 40px;
  font-weight: 700;
  margin-top: 35px;
}
.tshirt {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.net {
  width: 85%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 25px;
  row-gap: 10px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.ts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tname {
  color: #000;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.star > span {
  width: 35px;
  height: 17px;
  display: flex;
  align-items: center;
}
.star {
  display: flex;
  flex-direction: row;
  color: #000;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.star > span {
  color: #ffc633;
}
.dollar {
  width: 190px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: #000;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.dollar > span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.dollar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 26px;
  border-radius: 60px;
  text-decoration: none;
  color: #ff3333;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 420px) {
  .notification > div > span:first-child {
    text-align: left;
  }
  .notification {
    font-size: 12px;
  }
  .notification > div {
    width: 92%;
  }
}
